<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>UserChoice</title>
        <link rel="stylesheet" href="style.css"/>
        <script src="https://unpkg.com/vue@3"></script>
        
    </head>
    <body>
        <div id="app">
            <div v-if="answers.length < questions.length" class = 'option'> 
                    <h1>{{questions[answers.length].title}}</h1>
                    <div class = 'row'>
                        <div class="card" @click="choose(index)" v-for= "option, index in questions[answers.length].options" :key="`option-${index}`">
                            <p>{{option.text}}</p>
                            <img v-if = "option.image" :src="`images/${option.image}.png`"/>
                            <img v-else :src = "`images/missing.png`"/>
                            
                        </div>
                    </div>
            </div>
            <div class ='answers' v-else>
                <h1>thanks for your submission!</h1>

                <report :questions='questions' :answers='answers'></reporte>
            </div>
        </div>   

       
  
        <script src="app.js"></script>
    </body>
</html>